body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#header {
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

#logo {
    width: 100%;
    padding: 0.5em;
}

#search-box {
    margin-top: 1.5em;
    margin-left: 2em;
    padding: 0.4em;
    width: 50%;
    border-radius: 31px;
    border: none;
    font-size: 1.7em;
}

#search-result {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-gap: 30px;
    padding: 30px;
}

.song-logo {
    width: 180px;
}

.song {
    cursor: pointer;
}

.song-name,
.artist-name {
    text-align: center;
    margin: 0.1em;
}

.song-name {
    font-size: 1.3em;
    font-weight: bold;
    color: yellow;
}

.artist-name {
    color: whitesmoke;
}

#player {
    width: 100%;
    margin: auto;
}